
body{
   background-color: rgb(247, 114, 13);
}
img{
    transform: translateY(-10%);
}
.home-text{
    width: 100%;
    text-align: center;

}
.btnReg{
    background-color: coral;
    border-radius: 30px;
    font-size:40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    color: white;
    width: 200px;
    height: 60px;
    border: none;
}
.btnReg:hover{
    background-color: greenyellow;
    color: black;
    transition: 0.8s;
}