.nav-brand {
    cursor: pointer;
    font-size: 2rem;
    color: white;

    font-family:'Times New Roman', Times, serif;
  }
.nav-brand:hover{
   color: white;
}

  .me-auto .link{
   margin: 10px;
   
    width: 100%;
    text-align: center;
    color: rgb(244, 240, 240);
   border-radius: 6px;
 }

 .me-auto .link:hover{
    background-color: white;
    color: black;
 } 
