
.home-text {
  width: 100%;
  position: absolute;
  top: 0%;

}
.book-table-btn {
  background-color: rgb(251, 246, 245);
  border-radius: 30px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  color: rgb(14, 13, 13);
  width: 200px;
  height: 50px;
  border: none;
  text-align:center;
}
.book-table-btn:hover {
  background-color: rgb(170, 223, 91);
  color: black;
  transition: 0.8s;
}
