.mainphoto {
  background: url(../../images/1.jpg) no-repeat;
  background-size: cover;
  height: calc(85vh - 85px);
}
.title {
  font-size: 45px;
  color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.home-text span {
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}

.home-text h1 {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.looking-for-cafe {
  color: white;
  font-size: 2.5rem;
  padding-bottom: 1.8%;
  padding-right: 3%;
  padding-left: 3%;
}

.book-table-btn {
  color: white;
  font-size: 1.2rem;
  padding: 2% 8%;
  border-radius: 25px;
  background-color: #e74c3c;
  border: 2px white solid;
  font-family: ABeeZee, sans-serif;
}
.book-table-btn:hover {
  color: #e74c3c;
  background-color: white !important;
  border: 2px solid black !important;
}

.big-img {
  width: 100%;
  border-radius: 25px;
  border-bottom-left-radius: 20px;
}
@media (min-width: 768px) {
  .book-table-btn {
    font-size: 1.4rem;
    padding: 0.5% 5%;
  }
}
.big-img-container {
  padding: 10% 0;
}
